# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Node.js CI

on:
  push:
    branches: [ devel ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version:
        - "14.x"
        - "16.x"
        - "17.x"
        - '18.x'

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Lint the code
      run: npm run lint

    - name: Run prettier
      run: npx prettier --check .

    - name: Run the tests
      run: npm test

    # https://github.com/marketplace/actions/coveralls-github-action
    # upload coverage report for just one of Node.js version matrix runs
    - name: Upload coverage report to Coveralls
      if: matrix.node-version == '18.x'
      uses: coverallsapp/github-action@1.1.3
      continue-on-error: true
      with:
        github-token: ${{ github.token }}

    - name: Check types definition
      run: npm run check-dts

    - name: Check dependencies
      run: npx depcheck
